*,
html {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff;
	font-size: 16px;
	background: #0e0d13;
}

.main {
	position: relative;
	overflow: hidden;
}

input {
	outline: none;
	border: none;
}

li {
	list-style: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

button {
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

select {
	outline: none;
	border: none;
}

.header {
	font-family: Marvel;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 21px 0;
}
.container {
	max-width: 1205px;
	margin: 0 auto;
	padding: 0 30px;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__left {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 43px;
}

.header__lang,
.header__countries {
	padding-right: 8px;
	margin-left: 43px;
	text-transform: capitalize;
	background: #0e0d13;
	color: #fff;
	transition: all 0.3s;
}

.select {
	margin: 0 auto;
	position: relative;
	z-index: 300;
	border: 1.5px dashed #310857;
	border-radius: 5px 5px 0 0;
}

.select.is-active .select__body {
	display: block;
}

.select__list {
	display: block;
	z-index: 300;
	background: #310857;
	border-radius: 0 0 5px 5px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	max-height: 0;
	opacity: 0;
	transition: all 0.3s ease;
}

.select__list-request {
	border-radius: 0 0 10px 10px;
	border: 0.2px solid #fff;
	border-top: 0px;
	background: rgba(255, 255, 255, 0.1);
}

.select.is-active .select__list {
	max-height: 300px;
	opacity: 1;
}

.select__header {
	cursor: pointer;
	display: flex;
	z-index: 300;
}

.select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 8px;
}

.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 40px;
	margin-left: auto;
	text-align: center;
	width: 40px;
	z-index: 300;
	transform: rotate(90deg);
}

.select__icon-arrow {
	transform: rotate(180deg);
}

.select__item {
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
	color: #ffffff;
	background-color: transparent;
	transition: background-color 0.3s ease;
}

.select__item:hover {
	background-color: #432c66; /* Змінюємо фон на ховер */
}

.lang-ru {
	visibility: hidden;
	transition: all 0.3s;
}

.header__lang:hover .lang-ru {
	visibility: visible;
}

.header__right {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	margin-left: 42px;
}
.menu__item + .menu__item {
	margin-left: 42px;
}

.menu__item-link {
	transition: all 0.3s;
}
.menu__item-link:hover {
	color: #8300ff;
}
.header__socials {
	margin-left: 58px;
}

.instagram-path,
.telegram-path {
	transition: all 0.3s;
}

.header__socials a + a {
	margin-left: 16px;
}

.header__socials-link:hover .instagram-path {
	stroke: #8300ff;
}

.header__socials-link:hover .telegram-path {
	fill: #8300ff;
}

.exchange {
	position: relative;
	padding-bottom: 330px;
}

.page-wrapper {
	background-image: url('../images/down-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 10;
}

.exchange::before {
	top: 38px;
	position: absolute;
	content: '';
	width: 467px;
	height: 204px;
	background-image: url('../images/right-decor.png');
	background-repeat: no-repeat;
	left: 0;
	z-index: -1;
}

.exchange::after {
	top: 38px;
	position: absolute;
	content: '';
	width: 467px;
	height: 204px;
	background-image: url('../images/right-decor.png');
	background-repeat: no-repeat;
	right: 0;
	z-index: -1;
}
.page-container {
	max-width: 1005px;
	margin: 0 auto;
	/* padding: 0 30px; */
}
.exchange__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.exchange__item {
	padding: 15px 20px;
	border-radius: 10px;
	background: #8300ff;
	display: flex;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	box-shadow: 0 0 20px rgba(131, 0, 255, 0.8);
}

.exchange__item + .exchange__item {
	margin-left: 20px;
}
.exchange__item-img {
}
.exchange__item-text {
	white-space: nowrap;
	margin-left: 12px;
}
.exchange__content {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	position: relative;
	padding-bottom: 155px;
}

.exchange__content::after {
	content: '';
	position: absolute;
	width: 180px;
	height: 180px;
	scale: 0.5;
	bottom: 0;
	background-image: url('../images/paws.png');
	background-repeat: no-repeat;
	opacity: 0.8;
	right: 50%;
	transform: translateX(100%);
}
.exchange__left {
	margin-right: 22px;
	border-radius: 8px;
	border: 4px solid #8300ff;
	backdrop-filter: blur(5px);
	min-width: 461px;
	background: #fff;
	border-radius: 8px;
	border: 0.5px solid #fff;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);

	border-radius: 8px;
	border: 4px solid #8300ff;
	backdrop-filter: blur(5px);
	min-width: 461px;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(225, 116, 225, 0.8);
}

hr {
	margin: 0;
}

.exchange__title {
	text-align: center;
	padding-top: 27px;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.exchange__descr {
	text-align: center;
	padding-bottom: 27px;
	font-family: Marvel;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	position: relative;
}

.exchange__descr:after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background-image: url('../images/descr-decor.svg');
	background-repeat: no-repeat;
	top: 7px;
	right: 130px;
}

.exchange__left-top {
	background: #8300ff;
}

.exchange__wrapper {
	padding: 24px 28px 27px 20px;
}

.exchange__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	padding-left: 42px;
	position: relative;
	color: #000;
}

.exchange__info:before {
	content: '1';
	position: absolute;
	left: 0;
	font-family: Marvel;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	border-radius: 100px;
	color: #000;
	background: #8300ff;
	padding: 0 12px;
}

.select-ex-list {
	border-radius: 10px;
	border: 0.2px solid #000;
	background: rgba(0, 0, 0, 0.9);
	color: #000;
}

.exchange__info-changing {
	font-family: Marvel;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.exchange__info-secure {
	border-radius: 100px;
	background: rgba(0, 255, 141, 0.3);
	display: flex;
	align-items: center;
	padding: 0 12px;
	overflow: hidden;
}

.select__icon-ex {
	transform: rotate(-90deg);
}

.exchange__info-secure-text {
	color: #00ff8d;
	text-align: center;
	font-family: Marvel;
	font-size: 12px;
	font-weight: 400;
	margin-left: 4px;
}

.select-ex {
	border-radius: 10px;
	border: 0.2px solid #000;
	background: rgba(0, 0, 0, 0.1);
}
.select-ex-header {
	border-radius: 10px;
	padding: 5px 5px;
	border-radius: 10px;
	height: 45px;
	color: #000;
	font-family: 'Marvel';
	font-size: 16px;
	font-weight: 400;
	width: 100%;
}

.exchange__amount input {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	border: 0.2px solid #000;
	font-family: 'Marvel';
	font-size: 16px;
	font-weight: 400;
	padding: 17px 12px;
	width: 270px;
	margin-right: 12px;
	height: 45px;
	color: #000;
}

.exchange__amount {
	margin-top: 10px;
	color: #000;
}

.exchange__amount-rub {
	margin-bottom: 27px;
}

.exchange__amount input::placeholder {
	color: #000;
	font-family: 'Marvel';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.exchange__amount-thb {
	margin-bottom: 23px;
}
.exchange__info-receive {
	font-family: 'Marvel';
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 25px;
	padding-left: 42px;
	position: relative;
	color: #000;
}

.exchange__info-receive:before {
	content: '2';
	position: absolute;
	color: #000;
	left: 0;
	top: 2px;
	font-family: 'Marvel';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	border-radius: 100px;
	background: #8300ff;
	padding: 0 12px;
}

.exchange__rate {
	font-family: 'Inter';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 21px;
	color: #000;
}
.exchange__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-bottom: 16px;
}
.exchange__telegram,
.exchange__whatsapp {
	font-family: 'Marvel';
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 10px;
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
	transition: all 0.3s;
}

.exchange__telegram:hover {
	background: transparent;
	color: #000;
}

.exchange__whatsapp:hover {
	background: transparent;
	color: #000;
}

.exchange__telegram {
	background: #43b5fc;
	border: 1.5px solid #43b5fc;
	margin-right: 11px;
	padding: 10px 65px;
	white-space: nowrap;
}
.exchange__whatsapp {
	background: #00de7b;
	border: 1.5px solid #00de7b;
	justify-self: right;
	white-space: nowrap;
	padding: 10px 50px;
}

.exchange__telegram::before {
	content: '';
	position: absolute;
	width: 19px;
	height: 18px;
	background-image: url('../images/telegram.svg');
	background-repeat: no-repeat;
	left: 12px;
}
.exchange__whatsapp::before {
	content: '';
	position: absolute;
	width: 19px;
	height: 18px;
	background-image: url('../images/whatsapp.svg');
	background-repeat: no-repeat;
	left: 12px;
}
.exchange__note {
	color: #000;

	font-family: Marvel;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
.exchange__right {
	border-radius: 10px;
	border: 3px solid #8300ff;
	backdrop-filter: blur(5px);
	min-width: 461px;
	background: rgba(131, 0, 255, 0.2);
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(225, 116, 225, 0.8);
}

.exchange__aver,
.exchange__averr {
	color: #fff;
	font-family: 'Marvel';
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	padding-left: 42px;
	position: relative;
	margin-bottom: 26px;
}

.exchange__aver:before {
	content: '1';
	position: absolute;
	color: #fff;
	left: 0;
	top: 2px;
	font-family: 'Marvel';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	border-radius: 100px;
	background: #8300ff;
	padding: 0 12px;
}
.exchange__averr:before {
	content: '2';
	position: absolute;
	color: #fff;
	left: 0;
	top: 2px;
	font-family: 'Marvel';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	border-radius: 100px;
	background: #8300ff;
	padding: 0 12px;
}

.exchange__right-content {
	padding: 24px;
}

.exchange__right-input {
	color: #fff;
	font-family: 'Marvel';
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	line-height: normal;
	position: relative;
	margin-bottom: 26px;
	border-radius: 10px;
	border: 0.2px solid #fff;
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 45px;
}

.exchange__title-rate {
	margin-bottom: 28px;
}

.about {
	margin-bottom: -110px;
	transform: translateY(-110%);
	text-align: center;
}
.about__title {
	font-family: 'Inter', sans-serif;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 26px;
}
.about__text {
	font-family: 'Marvel';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	max-width: 563px;
	margin: 0 auto;
}
.about__text span {
	color: #8300ff;
}

.steps {
	padding-top: 127px;
	padding-bottom: 85px;
}

.steps__wrapper {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-bottom: 50px;
}

.steps__item + .steps__item {
	margin-top: 20px;
}

.steps__item {
	max-width: 262px;
	border-radius: 10px;
	border: 0.5px solid #fff;
	background: rgba(14, 13, 19, 0.3);
	backdrop-filter: blur(5px);
	padding: 14px;
}

.steps__item-num {
	margin-bottom: 21px;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
}

.steps__item-num-two {
	margin-bottom: 43px;
}

.steps__item-num--three {
	margin-bottom: 69px;
}

.steps__item-text {
	font-family: 'Marvel';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.steps__item-text span {
	color: #8300ff;
}

.steps__center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.steps__soon {
	font-family: 'Marvel';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	padding: 120px 100px;
	background: #d5d5d5;
	border-radius: 50%;
	margin-bottom: 30px;
}

.steps__btn-wrapper {
	text-align: center;
}

.steps-btn {
	border-radius: 100px;
	border: 0.1px solid #fff;
	background: #8300ff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	text-transform: uppercase;
	padding: 26px 42px;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
	transition: all 0.3s;
	display: block;
	justify-self: center;
	margin: 0 auto;
}

.steps-btn:hover {
	scale: 1.05;
}

.methods {
	padding: 16px 0;
	background: #fff;
	overflow: hidden;
	position: relative;
}

/* .methods::after{
	content: "";
	position: absolute;
	height: 77px;
	width: 100%;
	transform: rotate(3.3deg);
	background:	#8300ff;
	z-index: -4;
	top: 0;
} */

.methods-track {
	gap: 40px;
	display: flex;
	animation: moveLeft 20s linear infinite;
}

@keyframes moveLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.how {
	padding: 60px 0 120px;
}
.how__content {
	display: flex;
	justify-content: space-between;
	align-content: end;
}

.how__content img {
	transform: translateY(20%);
	margin-right: 50px;
}

.how__title {
	font-family: 'Inter';
	max-width: 461px;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-top: 120px;
	position: relative;
}

.how__title::before {
	content: '';
	position: absolute;
	width: 551px;
	height: 240px;
	background-image: url('../images/right-decor.png');
	background-repeat: no-repeat;
	top: -110px;
	right: -100px;
	z-index: -1;
}

.how__items {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 15px;
	margin: 50px 0;
}
.how__item {
	border-radius: 21px;
	padding: 19px 0 0 20px;
	background: #f4f4f4;
	overflow: hidden;
	width: 278px;
	transition: all 0.3s;
}

.how__item:hover {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #000;
	scale: 1.05;
}

.how__item-title {
	color: #0e0d13;
	font-family: 'Inter';
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 30px;
}
.how__item-btn {
	font-family: Marvel;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	color: #8300ff;
	position: relative;
	padding-right: 35px;
}

.how__item-btn::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url('../images/how-arrow.svg');
	background-repeat: no-repeat;
	right: 130px;
	top: 1px;
}

.how__item:last-child {
	display: inline-block;
}

.how__item-img-1 {
	transform: translateY(15px);
}
.how__item-img-2 {
	transform: translateY(10px);
}
.how__item-img-3 {
	transform: translateY(15px);
}
.how__item-img-4 {
	transform: translateY(80px);
}

.how__btn-wrapper {
	text-align: center;
}

.how__btn {
	border-radius: 100px;
	border: 0.1px solid #fff;
	background: #8300ff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	text-transform: uppercase;
	padding: 26px 42px;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
	transition: all 0.3s;
	display: block;
	justify-self: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.how__btn:hover {
	scale: 1.05;
}

.how__svgs {
	display: flex;
	justify-content: center;
}

.reviews__top {
	text-align: center;
	margin-bottom: 50px;
}
.reviews__title {
	font-family: 'Inter';
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
.reviews__descr {
	margin: 32px auto;
	max-width: 753px;
	font-family: 'Marvel';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}

.reviews__descr span {
	color: #8300ff;
}
.reviews__btn-wrapper {
	text-align: center;
}
.reviews__top-btn {
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 100px;
	border: 0.5px solid #fff;
	padding: 20px 45px;
	margin: 0 auto;
	color: #fff;
	transition: all 0.3s;
}

.reviews__top-btn:hover {
	background: #fff;
	color: #0e0d13;
}

.reviews__items {
	display: flex;
	align-items: stretch;
	gap: 9px;
}
.reviews__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
	max-width: 278px;
	border-radius: 16px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 10px;
}
.reviews__item-name {
	font-family: 'Inter';
	padding: 10px 55px;
	border-radius: 16px 16px 0px 0px;
	background: #8300ff;
	font-size: 14px;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 0.08px;
	text-align: center;
}
.reviews__item-img {
	border-radius: 0px 0px 16px 16px;
	border: 1.5px solid #8300ff;
	width: 100%;
}
.reviews__item-title {
	font-family: 'Inter';
	color: #8300ff;
	margin: 22px 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
.reviews__item-text {
	font-family: Marvel;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	color: #0e0d13;
	margin-bottom: 53px;
}
.reviews__item-btn {
	display: block;
	font-family: 'Inter';
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	color: #8300ff;
	border-radius: 8px;
	border: 2px solid #8300ff;
	background: #fff;
	padding: 8px;
	width: 100%;
	position: relative;
	transition: all 0.3s;
}

.reviews__item-btn::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url('../images/how-arrow.svg');
	right: 10px;
	background-repeat: no-repeat;
	transform: rotate(40deg);
	top: 5px;
	scale: 1.5;
}

.reviews__item-btn:hover {
	color: #fff;
	background: #8300ff;
}

.reviews__rates {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 13px;
	margin-bottom: 60px;
}
.reviews__rate {
	border-radius: 10px;
	background: #15141a;
	padding: 22px 23px;
	flex: 1;
}

.reviews__rate:first-child {
	flex: 2;
}

.reviews__rate-info + .reviews__rate-info {
	margin-top: 23px;
	font-family: 'Marvel';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.reviews__rate-first {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.reviews__rate-first::before {
	content: '';
	position: absolute;
	width: 427px;
	height: 270px;
	background-image: url('../images/review-decor.png');
	background-repeat: no-repeat;
	left: -40px;
	top: 48%;
	z-index: -1;
}

.reviews__rate-soon {
	text-align: center;
	margin: 0 auto;
	font-family: 'Marvel';
	font-size: 24px;
	font-weight: 700;
	padding: 110px 100px;
	background: #d9d9d9;
	border-radius: 50%;
	max-width: 250px;
	margin-top: 25px;
}
.reviews__link {
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	color: #8300ff;
}
.reviews__rate-logo {
	margin-bottom: 45px;
}
.reviews__rate-info {
	display: flex;
	align-items: center;
}
.reviews__rate-info-text {
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
}
.reviews__rate-info-num {
	font-family: 'Inter';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	padding: 0 5px 0 11px;
}
.reviews__rate-btn {
	margin-top: 95px;
	display: block;
	font-family: 'Marvel';
	color: #8300ff;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	position: relative;
}

.reviews__rate-btn::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url('../images/how-arrow.svg');
	right: 10px;
	background-repeat: no-repeat;
	transform: rotate(40deg);
	scale: 1.5;
}

.rewiews__btn {
	font-family: 'Inter';
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 100px;
	border: 0.5px solid #fff;
	background: #8300ff;
	margin: 0 auto;
	padding: 27px 46px;
	transition: all 0.3s;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
}

.rewiews__btn:hover {
	scale: 1.05;
}

.perform {
	padding-top: 120px;
	padding-bottom: 115px;
}

.perform__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 58px;
}
.perform__title {
	font-family: 'Inter';
	font-size: 48px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.perform__items {
	margin-top: 50px;
	gap: 10px;
	display: flex;
	align-items: stretch;
	margin-bottom: 58px;
}

.perform__item {
	transition: all 0.3s;
}

.perform__item-first {
	background-image: url('../images/perform-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.perform__decor {
	position: absolute;
	top: 62.8%;
	left: 115px;
}

.perform__img {
	opacity: 0;
	animation: blink 2s infinite;
}
@keyframes blink {
	0%,
	100% {
		opacity: 0;
		transform: scale(0.5);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
}

.perform__item {
	transition: all 0.3s;
	z-index: 100;
}

.perform__item:hover {
	scale: 1.05;
}

.perform__item-second {
	background-image: url('../images/perform-2.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.perform__item-third {
	background-image: url('../images/perform-3.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.perform__item {
	width: 375px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-radius: 10px;
	z-index: 10;
}
.perform__item-text {
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	width: 270px;
	margin-bottom: 140px;
	position: relative;
}

.perform__item-text::after {
	content: '';
	position: absolute;
	width: 27px;
	height: 27px;
	background-image: url('../images/perform-arrow.svg');
	right: -70px;
	top: 0;
	background-repeat: no-repeat;
}

.perform__item-arrow {
	position: absolute;
	width: 24px;
	height: 24px;
}
.perform__item-title {
	font-family: 'Inter';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	text-transform: uppercase;
}
.perform-flex {
	display: flex;
	align-items: end;
	justify-content: space-between;
}
.perform__descr {
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	border-radius: 100px;
	border: 0.5px solid #fff;
	padding: 5px 15px;
	white-space: nowrap;
}
.perform__btn-wrapper {
	text-align: center;
}
.perform__btn {
	padding: 27px 42px;
	font-family: 'Inter';
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 100px;
	border: 0.5px solid #fff;
	background: #8300ff;
	margin: 0 auto;
	transition: all 0.3s;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
}

.perform__btn:hover {
	scale: 1.1;
}

.team__inner {
	display: flex;
	align-items: center;
	gap: 13px;
}

.team__title {
	font-family: 'Inter';
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	position: relative;
}

.team__title::after {
	content: '';
	position: absolute;
	width: 140px;
	height: 48px;
	background-repeat: no-repeat;
	background-image: url('../images/team.png');
	top: -37px;
	right: 258px;
}

.team__title::before {
	content: '';
	position: absolute;
	width: 247px;
	height: 81px;
	background-image: url('../images/team-decor.png');
	background-repeat: no-repeat;
	mix-blend-mode: plus-lighter;
	top: 15px;
	left: -27px;
}

.team__text {
	font-family: 'Marvel';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	margin: 55px 0;
}
.team__btn {
	font-family: 'Inter';
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	padding: 20px 48px;
	border: 0.5px solid #fff;
	background: #8300ff;
	margin: 0 auto;
	transition: all 0.3s;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
	border-radius: 100px;
}
.team__btn:hover {
	scale: 1.1;
}

.request {
	padding-top: 115px;
	padding-bottom: 80px;
}

.request__top {
	margin-bottom: 75px;
	position: relative;
}

.request__top::after {
	content: '';
	position: absolute;
	background-image: url('../images/stars.png');
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	top: -130px;
	right: 88px;
	opacity: 0.5;
}
.request__title {
	margin: 0 auto;
	font-family: 'Inter';
	font-size: 48px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	width: 635px;
	text-align: center;
	margin-bottom: 26px;
}

.request__title span {
	color: #8300ff;
}

.request__descr {
	font-family: 'Marvel';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}
.request__info {
	display: flex;
	gap: 20px;
	margin-bottom: 75px;
	justify-content: center;
	position: relative;
}

.request__info::before {
	content: '';
	position: absolute;
	background-image: url('../images/paw.png');
	background-repeat: no-repeat;
	height: 325px;
	width: 305px;
	top: 5px;
	left: 210px;
	z-index: -1;
}

.paw {
	position: absolute;
	background-color: transparent;
	left: 0;
}

.select-request {
	font-family: 'Marvel';
	font-size: 24px;
	font-weight: 400;
	line-height: normal;
	color: #fff;
	border-radius: 10px;
	border: 0.2px solid #fff;
	background: rgba(255, 255, 255, 0.1);
	padding: 18px 11px;
	margin: 0;
}

.request__info-input {
	padding: 24px 18px;
	width: 413px;
	color: #fff;
	font-family: 'Marvel';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 10px;
	border: 0.2px solid #fff;
	background: rgba(255, 255, 255, 0.1);
}
.request__wrapper-btn {
	margin-bottom: 22px;
	text-align: center;
}
.request__btn {
	color: #fff;
	padding: 27px 42px;
	font-family: 'Inter';
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	border: 0.5px solid #fff;
	background: #8300ff;
	margin: 0 auto;
	transition: all 0.3s;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
	margin: 0 auto;
	border-radius: 100px;
}

.request__btn:hover {
	scale: 1.1;
}

.request__note {
	color: #aeaeae;
	font-family: 'Marvel';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}

.partner {
	padding-top: 140px;
	padding-bottom: 135px;
	position: relative;
}

.partner-wrapper {
	background-image: url('../images/down-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: -80px;
	background-size: cover;
	z-index: 10;
}

.partner__top .partner__text + .partner__text {
	margin-top: 20px;
}

.partner__text:first-child {
	text-align: center;
}

.partner__text {
	font-family: 'Inter';
	font-size: 48px;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.partner__text span {
	color: #8300ff;
}

.partner__text-left {
	text-align: left !important;
}

/* .partner__profit{
	transform: translateX(-100px);
} */

.partner__inner {
	transform: translateY(-70px);
	display: flex;
	align-items: end;
	text-align: start;
	gap: 100px;
	padding-bottom: 110px;
}
.partner__title {
	margin-bottom: 50px;
	font-family: 'Inter';
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}
.partner__wrapper-btn {
	text-align: center;
}
.partner__btn {
	padding: 27px 71px;
	position: relative;
	color: #fff;
	font-family: 'Inter';
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	border: 0.5px solid #fff;
	background: #8300ff;
	margin: 0 auto;
	transition: all 0.3s;
	box-shadow: 0 0 40px rgba(131, 0, 255, 0.8);
	margin: 0 auto;
	border-radius: 100px;
	z-index: 10;
}

.partner__btn:hover {
	scale: 1.1;
}

.footer {
	border-radius: 54px 54px 0px 0px;
	background: #fff;
	padding: 97px 30px 30px 30px;
	position: relative;
	/* height: 415px; */
	overflow: hidden;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.footer__wrapper {
	width: 700px;
	position: relative;
	z-index: 10;
}
.footer__img {
	position: absolute;
	right: 150px;
	bottom: -70px;
	z-index: 30;
}

.footer__decor-img {
	position: absolute;
	z-index: -1;
	right: 65px;
	bottom: 90px;
}

.footer__arrow {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.footer__menu-title {
	color: #767676;
	font-family: 'Inter';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -1px;
	margin-bottom: 32px;
}
.footer__menu-link {
	display: block;
	margin-top: 10px;
	color: #000;
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -1px;
}

.footer__menu-link + .footer__menu-link {
	margin-top: 20px;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.footer__bottom-policy a {
	font-family: 'Marvel';
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 106%;
	letter-spacing: -0.8px;
	text-decoration: underline;
}
.footer__bottom-policy a + a {
	margin-left: 35px;
}
.footer__bottom-descr {
	max-width: 121px;
	color: rgba(0, 0, 0, 0.4);
	font-family: 'Marvel';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 106%;
	letter-spacing: -1.2px;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	overflow-y: auto;
}

.modal-atm,
.modal-del,
.modal-cash,
.modal-thai {
	display: none;
}

.modal__box {
	background: #fff;
	border-radius: 10px;
	max-width: 500px;
	padding: 20px;
	position: relative;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.modal__title {
	color: #0e0d13;
	font-family: 'Inter';
	font-size: 40px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 25px;
}
.modal__descr {
	color: #8300ff;
	font-family: 'Marvel';
	font-size: 16px;
	padding: 11px;
	border-radius: 100px;
	width: 220px;
	border: 1px solid #8300ff;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 45px;
}
.modal__text {
	color: #000;
	font-family: 'Marvel';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
}
.modal__note {
	color: #9e9e9e;
	font-family: Marvel;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}
.modal__img {
	margin-top: auto;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.modal__link {
	color: #fff;
	position: absolute;
	bottom: 30px;
	right: 50%;
	transform: translateX(50%);
	font-family: Marvel;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	text-decoration-line: underline;
}

body.modal-open {
	overflow: hidden;
}

.pop {
	display: none;
	position: fixed;
	padding: 48px 15px 20px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1000px;
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	overflow-y: auto;
	border-radius: 10px;
	color: #0e0d13;
	background: #fff;
}
.pop-purchase {
	display: none;
}

.pop.active {
	display: block; /* Попап з'являється */
}

.pop::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	line-height: 1;
	color: #000;
}
.pop__title-purchase {
	color: #fff;
	font-family: 'Inter';
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-size: 100%;
	padding: 150px 27px 20px;
	background-image: linear-gradient(rgba(13, 19, 13, 0.1), rgba(0, 0, 0, 0.8)),
		url('../images/purchase.png');
	background-repeat: no-repeat;
	border-radius: 20px;
	opacity: 0.9;
	margin-bottom: 42px;
}
.pop__title-transfer {
	color: #fff;
	font-family: 'Inter';
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-size: 100%;
	text-transform: uppercase;
	padding: 115px 27px 20px;
	background-image: linear-gradient(rgba(13, 19, 13, 0.1), rgba(0, 0, 0, 0.8)),
		url('../images/transfer.png');
	background-repeat: no-repeat;
	border-radius: 20px;
	opacity: 0.9;
	margin-bottom: 42px;
}
.pop__title-service {
	color: #fff;
	font-family: 'Inter';
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-size: 100%;
	text-transform: uppercase;
	padding: 115px 27px 20px;
	background-image: linear-gradient(rgba(13, 19, 13, 0.1), rgba(0, 0, 0, 0.8)),
		url('../images/service.png');
	background-repeat: no-repeat;
	border-radius: 20px;
	opacity: 1;
	margin-bottom: 42px;
}

.pop__service-text p {
	margin-bottom: 24px;
}

.pop__service-text {
	margin-bottom: 67px;
	font-family: 'Marvel';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.pop__service-subtitle {
	margin: 42px 0;
}

.pop__text {
	font-family: 'Marvel';
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 42px;
}
.pop__subtitle {
	font-family: 'Inter';
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 42px;
}
.pop__subtitle-text {
	font-family: 'Marvel';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 67px;
}

.pop__subtitle-text p:first-child {
	margin-bottom: 37px;
}
.pop__subtitle-text p:nth-child(2) {
	margin-bottom: 26px;
}
.pop__subtitle-text p:nth-child(3) {
	margin-bottom: 25px;
}

.pop__title-second {
	color: #0e0d13;
	text-align: center;
	font-family: 'Inter';
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.pop__descr {
	color: #0e0d13;
	text-align: center;
	font-family: 'Marvel';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 24px;
}
.pop__items {
	margin-bottom: 47px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.pop__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 100px;
	border: 1px solid #00ff8d;
	background: rgba(0, 255, 141, 0.1);
	width: 170px;
}

.pop__notes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}

.pop__note {
	border-radius: 100px;
	padding: 5px 10px;
	border: 1px solid #00ff8d;
	background: rgba(0, 255, 141, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 282px;
}

.pop__item-text {
	margin-left: 5px;
	color: #00ff8d;
	font-family: 'Marvel';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.select-pop {
	font-family: 'Marvel';
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	border-radius: 10px;
	border: 0.2px solid #0e0d13;
	background: rgba(14, 13, 19, 0.1);
	padding: 18px 11px;
	margin: 0;
	color: #0e0d13;
	width: 77px;
}

.select__pop-icon {
	margin-top: 10px;
	transform: rotate(270deg);
}
.select__list {
}
.select__list-pop {
	border-radius: 0 0 10px 10px;
	border-top: 0px;
}

.form-wrap {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 47px;
}

.pop__info-input {
	padding: 24px 18px;
	width: 413px;
	color: #000;
	font-family: 'Marvel';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 10px;
	border: 0.2px solid #0e0d13;
	background: rgba(14, 13, 19, 0.1);
}
